.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 50px !important;

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    width: 100%;
  }

  .tag {
    display: inline-block;
    background-color: #ffb900;
    padding: 5px 12px;
    font-weight: 500;
  }

  img {
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  a {
    font-size: 0.9rem;
    color: $blue;
    display: flex;
    align-items: flex-end;
    gap: 3px;
    font-weight: 500;

    p {
      display: inline;
    }

    svg {
      transition: 0.2s ease;
      transform: scale(0.9);
    }

    &:hover p {
      border-bottom: 1px solid $blue;
    }

    &:hover svg {
      transform: translateX(5px) scale(0.9);
    }
  }
}

.cards2 {
  & > h3 {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
