footer {
  font-size: 0.75rem;
  background-color: $grey;
  color: $darkGrey;
  padding: 20px 0;

  a {
    color: $darkGrey;
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 50px;

  .footer-links:last-child {
    // margin-right: 100px;
  }

  .footer-links {
    span {
      display: inline-block;
      font-weight: 500;
      font-size: 1.1rem;
      margin-bottom: 15px;
    }

    li {
      margin-bottom: 15px;

      a:hover {
        color: darken($darkGrey, 20%);
      }
    }
  }
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;

  .location {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      font-size: 1.3rem;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    align-items: center;
  }
}

@media screen and (max-width: 1400px) {
  .footer-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1245px) {
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  //   .footer-flex {
  //     height: 50px;
  //     .copyright {
  //       align-self: flex-end !important;
  //     }
  //   }
}

@media screen and (max-width: 700px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}
